/*************** Google Fonts ***************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');

/*************** Variables ***************/
:root{
    /* Colors */
    --primary-color: #512B78;
    --secondary-color: #948f8f;
    --third-color:#411fa0;
    --body-bg: #efebfa;

}

/*************** Estructuras Gobales ***************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10px;
}
body{
    /*Assignamos la var color al fondo */ 
    background-color: var(--body-bg); 
}
img{ 
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
a{
    /* Enlaces negros y sin decoración */
    color: black;
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}
.primary-btn {
    display: inline-block;
    background-color: var(--third-color);
    color: white;
    font-size: 18px;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
}
.buttons{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.buttons svg {
    width: 50px;
    color: var(--primary-color);
}

/******************** Presentation **********************/

#Presentation {
    height: 100vh;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Presentation .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#Presentation .container .right_panel {
    flex: 8;
}
#Presentation .container .left_panel {
    flex: 6;
}
#Presentation .container .subheading {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
}
#Presentation .left_panel .heading1 {
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
#Presentation .left_panel .description {
    margin-top: 2.5rem;
    max-width: 400px;
    font-size: 16px;
    color: var(--third-color);
}
#Presentation .right_panel {
    text-align: right;
}
#Presentation .right_panel img{
    width: 100%;
    max-width: 500px;
    height: 450px;
    object-fit: cover;
    object-position: 50% 30%;
}

/********************* Responsive **************************/

@media only screen and (max-width: 768px){
    html{
        font-size: 9px;
    }
    #Presentation .container{
        flex-direction: column-reverse;
    }
    #Presentation .container .right_panel {
        text-align: center;
        flex: 1;
        margin-bottom: 2rem;
    }
    #Presentation .container .right_panel img{
        width: 100%;
        height: 400px;
    }
    #Presentation .container .left_panel{
        text-align: center;
        padding: 0;
        flex: 1;
        height: fit-content;
    }
    #Presentation .left_panel .buttons{
        justify-content: center;
    }
    #Presentation .container .left_panel .heading1{
        font-size:  4rem;
        margin: 0 auto;
    }
    #Presentation .container .left_panel .description{
        margin: 0 auto;
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 950px){
    #Presentation .container .right_panel{
        flex: 6;
    }
}